/* skills.css */

/* Style the container for the Skills component */
.skills-component {
  padding: 20px;
  background-color: #f4f4f4; /* Set the background color as desired */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  border-bottom: .5rem solid black;
}

/* Style the main heading */
.skills-component h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333; /* Set the text color */
}

/* Style the skills container */
.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

/* Style each individual skill item */
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Style the skill image */
.skills-image {
  width: 100px; /* Set the desired width for all images */
  height: 100px; /* Set the desired height for all images */
  object-fit: contain; /* Maintain aspect ratio and cover the container */
  border: .25rem solid black;
  padding: .125rem
}

/* Style the skill name */
.skills span {
  margin-top: 10px;
  font-weight: bold;
}

/* Style other elements as needed */
