.about__me {
    border-top: 2px solid;
    border-color: red;
    &__header {
        border: 2px solid;
        border-color: aqua;
    }
    &__paragraph {
        border: 2px solid;
        border-color: burlywood;
    }
}