.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .5rem black solid;
}

.header-logo {
    height: 2rem;
}

.header-list {
    display: flex;
    list-style-type: none;
    gap: 15rem;
    text-decoration: none;
}

.header-anchor-tag {
    text-decoration: none;
}