.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem;
    padding-bottom: 0;
    background-color: #ccf0f5; /* Set the background color as desired */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    /* border-bottom: .5rem solid rgb(243, 243, 243);
    margin: .5rem; */
}

.header-box-right {
    font-size: 32px;
}

.header-logo {
    height: 6rem;
}

.header-list {
    display: flex;
    list-style-type: none;
    gap: 15rem;
    text-decoration: none;
}

.header-anchor-tag {
    text-decoration: none;
}